*{
    font-family:"Poppins",serif;
}
body{
    padding:0;
    margin:0;
}
header{
    display:flex;
    justify-content: space-between;
    padding:20px 10%;
}
#creative {
    color:cornflowerblue;
}
.logo {
    font-size:3rem;
    
}
.navbar{
    margin:50px 0 50px 0;
}
.navbar a{
    color:black;
    margin-left:30px;
    font-size:24px;
    font-weight:500;
    text-decoration: none;
    transition:.3s;
}
.navbar a:hover{
    color: cornflowerblue;
}
#about{
    padding:10px 10%;
}
#about h1{
    font-size:40px;
}
#about p{
    font-size:25px;
    margin:70px 0px 70px 0px;
}
#about img {
    border-radius:50%;
    margin-right:20px;
    float:left;
}
#contact{
    padding:10px 15%;
}
.contact-links{
    list-style-type: none;
    float:left;
    
}
.contact-links li{
    display:inline-block;
    padding:14px 16px;
}