*{
    font-family:"Poppins",serif;
}
body{
    padding:0;
    margin:0;
}
.align-text{
    text-align:center;
}
header{
    display:flex;
    justify-content: space-between;
}
.align {
    padding: 20px 10%;
}
.container {
    display:flex;
    height:100vh;
    justify-content:center;
    align-items:center;
}
#creative {
    color:cornflowerblue;
}
#logo {
    font-size:3rem;
}
.navbar{
    margin:50px 0 50px 0;
}
.navbar a{
    color:black;
    margin-left:30px;
    font-size:24px;
    font-weight:500;
    text-decoration: none;
    transition:.3s;
}
.navbar a:hover{
    color: cornflowerblue;
}
#about {
    margin-bottom: 20px;
}
#about h2{
    font-size:40px;
}
#about img {
    border-radius:50%;
    margin-right:20px;
    float:left;
}
#about-text{
    padding-top: 30px;
}
#skills h3{
    display:inline;
}
#skills li{
    list-style: none;
    display:inline;
    padding:14px 16px;
}
#projects {
    margin-top: 50px;
}
.project-container {
    display:grid;
    gap:10px;
    grid-template-columns: 575px 575px;
    grid-template-rows:300px 300px;
}

