*{
    font-family:"Poppins",serif;
}
body{
    padding:0;
    margin:0;
    background-color:black;
    color:white;
}
.align-text{
    text-align:center;
}
header{
    display:flex;
    justify-content: space-between;
}
.align {
    padding: 20px 10%;
}
.container {
    display:flex;
    height:100vh;
    justify-content:center;
    align-items:center;
}
.display-inline{
    display:inline;
}
.margin-top{
    margin-top:30px;
}
#creative {
    color:cornflowerblue;
}
#logo {
    font-size:2.8rem;
}
.navbar{
    margin:53.5px 0 53.5px 0;
}
.navbar a{
    color:white;
    margin-left:30px;
    font-size:24px;
    font-weight:500;
    text-decoration: none;
}
.navbar a:hover{
    color: cornflowerblue;
    transition:.5s;
}
#about {
    margin:0px 50px 0px 50px;
    border:solid cornflowerblue;
    border-radius:18px;
}
#about h2{
    font-size:40px;
}
#about img {
    border-radius:50%;
    margin-right:20px;
    float:left;
}
#about-text{
    padding-top:15px;
}
#skills li{
    list-style: none;
    display:inline;
    padding:14px 16px;
}
#resume a{
    color:white;
    padding-left:5px;
    font-size: 18px;
    text-decoration:none;
}
#resume a:hover{
    color:cornflowerblue;
    transition:.5s;
}
#hobbies {
    padding-bottom:40px;
}
#projects {
    margin-top: 50px;
}
.project-container {
    display:grid;
    gap:5px;
    grid-template-columns: 575px 575px;
    grid-template-rows:300px 300px;
}
#tindog,#moveit{
    color:white;
    text-decoration:none;
}
#tindog:hover,#moveit:hover{
    color:cornflowerblue;
    transition: .5s;
}
#contact{
    font-size:20px;
}
#contact a{
    color:cornflowerblue;
    text-decoration: none;
    border:solid;
    border-radius:18px;
    margin-top:30px;
    padding:10px;
}
#contact a:hover{
    background-color: cornflowerblue;
    color:white;
    transition:.7s;
}

